.user-table {
  width: 60%;
  margin: 3rem auto;
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.9rem rgba(0, 0, 0, 0.55);
}

.user-table table {
  width: 100%;
  margin-top: 2rem;
}

.user-table table thead th {
  background-color: rgb(65, 156, 156);
  color: #fff;
}

.user-table table tbody td {
  background-color: rgb(190, 178, 178);
  color: #fff;
  padding: 0.4rem;
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width: 1025px) {
  .user-table {
    width: 90%;
  }
  .table tr {
    display: grid;
  }
}
@media screen and (max-width: 600px) {
  tr td {
    overflow: hidden;
  }
  .user-table {
    text-align: center;
  }

}
